/* ===================================== PROFILE COURSE =============================== */

.profile-course-empty-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10.2vw;
}

.profile-course-section{
    margin: 1vw;
}
.profile-course-header{
    text-align: right;
    margin-right: 2vw;
}

.profile-course-title{
    font-size: 3vw;
    font-family: boldp;
    margin-bottom: 1vw;
}

.profile-course-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}


.side-course-content{
    align-items: center;

}

.side-course-contents{
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    width: 40vw;
}


.study-button{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button1{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button2{
    background-color: #02353C;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button3{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.button-link1{
    text-decoration: none;
    color: white;
    margin-left: 1vw;
}

.button-link2{
    text-decoration: none;
    color: white;
    margin-left: 1vw;
}

.button-link3{
    text-decoration: none;
    color: black;
    margin-left: 1vw;
}

.button-icon1{
    width: 1.2vw;
    padding-top: .15vw;
    margin-left: 3vw;
    float: right;
}

.button-icon2{
    width: 1.2vw;
    padding-top: .15vw;
    margin-left: 2.5vw;
    float: right;
}

.button-icon3{
    width: 1.2vw;
    padding-top: .15vw;
    margin-left: 3.5vw;
    float: right;
}

.video-img{
    width: 40vw;
}

.video-title{
    font-size: 2.5vw;
    font-family: boldp;
}

.code-title{
    font-size: 2.5vw;
    font-family: boldp;
}

/* ========================================== SIDE WRAPPER ========================== */
.side-profile-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.profile-button1{
    margin-top: 6vw;
}


.edit-link{
    color: white;
    text-decoration: none;
}

.logout-link{
    color: white;
    text-decoration: none;
}

.source-code{
    font-family: regularp;
    border: .1vw solid;
    padding: 2vw;
    margin-bottom: 6vw;
}

.source-codes{
    font-family: regularp;
}

.check-button{
    padding: 0.5vw 1vw;
    border-radius: 10px;
}

.check-title{
    font-size: 1.5vw;
    font-family: regularp;

}

.checklist{
    margin-left: 1vw;
}

.desc-title{
    font-size: 1vw;
}


