@font-face {
    font-family: boldp;
    src: url(../Font/Poppins-Bold.otf);
}
@font-face {
    font-family: regularp;
    src: url(../Font/Poppins-Regular.otf);
}
@font-face {
    font-family: lightp;
    src: url(../Font/Poppins-Light.otf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}
/* BACKGROUND */
:root{
    --light-blue :#c1f6ed;
    --dark-green : #02353C;
    --green : #449342;
    --tosca : #2EAF7D;
    --blue : #3FD0C9;
}

.light-blue{
    background-color: #c1f6ed;
}
.dark-green{
    background-color: #02353C;
}
.green{
    background-color: #449342;
}
.tosca{
    background-color: #2EAF7D;
}
.blue{
    background-color: #3FD0C9;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
/* FONT */
.light-blue-text{
    color: #c1f6ed;
}
.dark-green-text{
    color: #02353C;
}
.green-text{
    color: #449342;
}
.tosca-text{
    color: #2EAF7D;
}
.blue-text{
    color: #3FD0C9;
}
.white-text{
    color: white;
}
.black-text{
    color: black;
}
