.header{
    padding-top: 1vw;
    background-image: url('../Asset/Image/background.jpg');
    background-size: cover;
    height: 46vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 2vw 2vw;
}
.profile{
    display: flex;
    align-items: center;
}
.nav{
    font-family: regularp;
    font-size: 1vw;
}
.web-name{
    font-family: boldp;
    font-size: 2vw;
}
.welcome{
    display: flex;
    padding: 3vw;
}
.left{
    width: 50vw;
    margin-left: 5vw;
}
.title{
    font-family: boldp;
    font-size: 5.5vw;
}
.desc{
    font-family: regularp;
    font-size: 1.6vw;
}
.right{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: regularp;
    font-size: 1.2vw;
    margin-right: 1.5vw;
    margin-top: 0.5vw;
}
.welcome-logo{
    width: 30vw;
}

/* Study List */

.search-section{
    margin-bottom: 2vw;
}

.study-list-search{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.search-bar{
    margin: 4vw;
    display: flex;
    flex-direction: row;
    border-radius: 5vw;
    box-shadow: .7vw .7vw .6vw 0vw #888888;
    background-color: #F5F5F5;
    margin-left: 20vw;
}

#fsearch{
    display: flex;
    width: 40vw;
    font-size: 1.5vw;
    font-family: regularp;
    font-weight: 400;
    padding: 1vw 2vw 1vw 1vw;
    border: none;
    outline: none;
    background-color: transparent;

}

.search-button{
    background: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
}
.search-button img {
    margin: 1vw;
    padding-top: 0.5vw;
    width: 2vw;
    height: 2vw;
    object-fit: cover;

  }
.icon-img{
    margin-top: 2vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    justify-content: center;
}

/* size icon */
.icon-img img{
    width: 5vw ;
    height: 5vw ;
}

.icon-def{
    display: flex;
    font-size: 1.5vw;
    font-family: regularp;
}

.content-wrap{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    margin-left: 7vw;

}
 .html-content{
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
}

 .css-content{
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    margin-left: 9vw;
}

.js-content{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}


.html-content .con-head{
    display: flex;
    justify-content: center;
    font-family: boldp;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.html-content .con-sub{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    align-items: center;
}

.html-content .con-btn{
    margin-top: 2vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
}

.html-content .add-btn{
    margin-top: 2vw;
    border-radius: 5vw;
    border: 1px solid;
    border-color: #03353C;
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
}

.html-content .learn-now{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    background: transparent;
    border: none;

}

.html-content .add-list{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    background: transparent;
    border: none;

}

.css-content .con-head{
    display: flex;
    justify-content: center;
    font-family: boldp;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.css-content .con-sub{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    align-items: center;
}

.css-content .con-btn{
    margin-top: 2vw;
    margin-left: -1vw;
    margin-right: -1vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
}

.css-content .add-btn{
    margin-top: 2vw;
    margin-left: -1vw;
    margin-right: -1vw;
    border-radius: 5vw;
    border: 1px solid;
    border-color: #449342;
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
}

.css-content .learn-now{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    background: transparent;
    border: none;

}

.css-content .add-list{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    background: transparent;
    border: none;

}

.js-content .con-head{
    display: flex;
    justify-content: center;
    font-family: boldp;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.js-content .con-sub{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    align-items: center;
}

.js-content .con-btn{
    margin-top: 2vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
}

.js-content .add-btn{
    margin-top: 2vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-radius: 5vw;
    border: 1px solid;
    border-color: #2EAF7D;
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
    width: 15vw;
}

.js-content .learn-now{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    background: transparent;
    border: none;

}

.js-content .add-list{
    display: flex;
    justify-content: center;
    font-family: regularp;
    font-size: 1.7vw;
    background: transparent;
    border: none;

}

.html-line{
    border-right: 0.3vw dashed;

}

.css-line{
    border-right: 0.3vw dashed;
    margin-right: 4vw;
    margin-left: 1vw;
}

/* Course Section */
.course-section{
   margin-top: 10vw;
   background-color:#03353C;
   padding-left: 6vw;
   padding-top: 3vw;
   padding-bottom: 1vw;

}

.course-header-title{
    color: white;
    font-family: boldp;
    font-size: 4vw;
    margin-left: 2vw;
}

.course-content{
    display: flex;
    flex-direction: row;
    margin: 1vw;

}

.course-card-short{
    background-color: white;
    margin-bottom: 2vw;
    border-radius: 1vw;
    margin-right: 6vw;
    width: 55vw;
}


.course-title{
    text-align: center;
    margin-bottom: .5vw;
    padding-top: .5vw;
    font-family: boldp;
    font-size: 1vw;
}

.course-border{
    border-top: .2vw dashed;
    border-color: black;
    margin-left: 2vw;
    margin-right: 2vw;
}

.padding-title-long{
    padding-left: 2vw;
    font-family: regularp;
    font-size: .8vw;
}

.padding-title-short{
    padding-left: 2vw;
    font-family: regularp;
    font-size: .8vw;
}

.course-desc-content{
    margin-bottom: 3vw;
    padding-left: 2vw;
    font-family: regularp;
    font-size: .8vw;
}

.card-footer{
    background-color: #c1f6ed;
    border-radius: 1vw;
}

.card-footer div{
    display: flex;
}

.card-footer div button{
    width: 100%;
    border: 0px ;
}

#add-course{
    background-color: var(--tosca);
}

#learn-now{
    background-color: var(--green);
}

.footer-word{
    text-align: center;
    padding: .3vw;
    padding-right: .7vw;
    font-family: boldp;
    font-size: .8vw;
}

.link{
    color: white;
    text-decoration: none;
}

/* ================================== TUTORIAL ============================== */

.tutorial-section{
    margin-top: 2vw;
}

.tutorial-header-title{
    text-align: right;
    font-size: 4vw;
    font-family: boldp;
    margin: 1.5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
}


.swiper-slide{
    text-align: center;
}

.tutorial-img{
    width: 65vw;
    margin-bottom: 2vw;
    box-shadow: .7vw .7vw .6vw 0vw #888888;
}

.tutorial-button-img-prev{
    width: 4vw;
}

.tutorial-button-img-next{
    width: 4vw;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}

/* ========================================== ADVANTAGES ==================== */
.advantages-section{
    margin-top: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
 }

 .advantages-wrapper1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vw;
    margin-bottom: 1vw;
    margin-left: 10vw;
    margin-right: 10vw;

 }

 .advantages-wrapper2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10vw;
    margin-top: 1vw;
    margin-left: 10vw;
    margin-right: 10vw;

 }

 .advantages-title{
    font-size: 2vw;
    font-family: boldp;
    font-weight: lighter;
    text-align: center;

 }
 .advantages-description{
    color: white;
    font-size: 1.5vw;
    font-family: lightp;
 }

 .larastrap-icon{
    text-align: center;
 }

 .larastrap-img{
    width: 20vw;
 }

 /* ===================================== FOOTER ========================= */
 .footer-section{
    margin: 2vw;
 }

 .footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .footer-logo{
    width: 8vw;
 }

 .footer-title{
    font-size: 2vw;
    font-family: boldp;
    margin-left: 2vw;
 }

 .footer-copyright{
    font-size: 1vw;
    font-family: lightp;
    margin-top: .5vw;
    margin-left: 66vw;

 }











